/* App.css */
.App {
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: flex-start; /* Align children at the start of the container */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Make the container fill the entire viewport height */
}

.name {
  margin-bottom: 20px; /* Adjust margin at the bottom */
  color: blue;
}

.button-container {
  display: flex;
  align-items: center; /* Center buttons vertically */
}

.bigButton,
.individual-button {
  color: blue;
  padding: 15px 30px;
  margin: 0 10px;
  font-size: 1.2em;
}
